<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.voidr.repository.CartMapper">

	<!-- CartList ID からカート一覧取得 -->
	<select id="findByCartListId"
		resultType="com.example.voidr.entity.Cart" parameterType="long">
		SELECT
		id,
		cartlist_id AS cartListId,
		item_id AS itemId,
		quantity,
		is_hold AS isHold,
		updated_at AS updatedAt
		FROM cart
		WHERE cartlist_id = #{cartListId}
	</select>

	<!-- Cart ID から単一カート取得（移動用） -->
	<select id="findById" resultType="com.example.voidr.entity.Cart"
		parameterType="long">
		SELECT
		id,
		cartlist_id AS cartListId,
		item_id AS itemId,
		quantity,
		is_hold AS isHold,
		updated_at AS updatedAt
		FROM cart
		WHERE id = #{id}
	</select>

	<!-- 新規カート追加 -->
	<insert id="insert"
		parameterType="com.example.voidr.entity.Cart" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO cart(cartlist_id, item_id, quantity, is_hold, updated_at)
		VALUES(#{cartListId}, #{itemId}, #{quantity}, #{isHold},
		CURRENT_TIMESTAMP)
	</insert>

	<!-- カート更新 -->
	<update id="update"
		parameterType="com.example.voidr.entity.Cart">
		UPDATE cart
		SET
		quantity = #{quantity},
		is_hold = #{isHold},
		updated_at = CURRENT_TIMESTAMP
		WHERE id = #{id}
	</update>
	<update id="updateQuantityByCart"
		parameterType="com.example.voidr.entity.Cart">
		UPDATE cart
		SET
		quantity = #{quantity},
		updated_at = CURRENT_TIMESTAMP
		WHERE id = #{id}
	</update>

	<!-- ゲストカート削除 -->
	<delete id="delete">
		DELETE FROM cart
		WHERE cartlist_id IN (
		SELECT id FROM cart_list WHERE id = #{id}
		)
	</delete>

</mapper>
