<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.VOIDR.repository.CartMapper">

  <!-- カートリストIDで取得 -->
  <select id="findByCartListId" parameterType="long" resultType="com.example.VOIDR.entity.Cart">
    SELECT
      id,
      cart_list_id AS cartListId,
      item_id AS itemId,
      item_count AS itemCount,
      is_hold AS isHold,
      updated_at AS updatedAt
    FROM cart
    WHERE cart_list_id = #{cartListId}
  </select>

  <!-- カートに新規商品を追加 -->
  <insert id="insertCart" parameterType="com.example.VOIDR.entity.Cart">
    INSERT INTO cart (
      cart_list_id,
      item_id,
      item_count,
      is_hold,
      updated_at
    )
    VALUES (
      #{cartListId},
      #{itemId},
      #{itemCount},
      #{isHold},
      #{updatedAt}
    )
  </insert>

  <!-- 商品数を更新 -->
  <update id="updateItemCount">
    UPDATE cart
    SET
      item_count = #{itemCount},
      updated_at = #{updatedAt}
    WHERE id = #{id}
  </update>

  <!-- カートから商品を削除 -->
  <delete id="deleteItem" parameterType="long">
    DELETE FROM cart
    WHERE id = #{id}
  </delete>

</mapper>
