<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.voidr.repository.LoginUserMapper">

    <!-- 結果マッピング -->
    <resultMap id="LoginUserResultMap" type="com.example.voidr.entity.LoginUser">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="authority" column="authority" javaType="com.example.voidr.entity.Role" />
    </resultMap>

    <!-- ユーザー検索 -->
    <select id="findByUsername" parameterType="string" resultMap="LoginUserResultMap">
        SELECT
            id,
            username,
            password,
            authority
        FROM
            authentications
        WHERE
            username = #{username}
    </select>

    <!-- 新規登録 -->
    <insert id="insertUser" parameterType="com.example.voidr.entity.LoginUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO authentications (username, password, authority, displayname)
        VALUES (#{username}, #{password}, #{authority}, #{username})
    </insert>

</mapper>

