<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body>
	<div th:fragment="header">
		<header>
			<h1>FPS GEAR STORE</h1>
			<nav>
				<a th:href="@{/voidrshop}">トップ</a>
				<a th:href="@{/voidrshop/items}">ストア</a>
				<a href="contact.html">お問い合わせ</a>

			</nav>
			<div class="header-right">
				<form class="search-box" action="search.html" method="get">
					<input type="text" name="q" placeholder="商品を検索">
					<button type="submit">検索</button>
				</form>
				<a th:href="@{/voidrshop/cart}">カート</a>
				<a href="#">ログイン</a>
			</div>
		</header>
	</div>
</body>

</html>