<!-- ヘッダー -->

 <header class="main-header">
   <a href="/voidr.html" class="logo">
     <img src="images/logo.png" alt="VOIDRロゴ">
   </a>
   <nav class="nav-left">
     <ul class="nav-menu">
       <li class="dropdown">
         <a href="#">ゲーム紹介 v</a>
         <ul class="submenu">
           <li><a href="/voidr/story">ストーリー</a></li>
           <li><a href="/voidr/map">マップ</a></li>
           <li><a href="/voidr/weapon">武器</a></li>
         </ul>
       </li>
       <li><a href="/voidr/character">キャラクター</a></li>
       <li><a href="/voidr/news">ニュース</a></li>
       <li><a href="/voidrshop">ストア</a></li>
     </ul>
   </nav>
   <div class="nav-right">
     <a href="#" class="login">ログイン</a>
     <a href="#" class="play-now">今すぐプレイ</a>
   </div>
 </header>