<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<title>商品一覧フラグメント</title>
</head>
<body>

	<!-- fragments/itemList.html -->
	<div th:fragment="itemList(items)">
		<style>
.product-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	justify-items: center;
	text-align: center;
	margin: 20px auto;
	max-width: 1200px;
}

.product-item {
	width: 200px;
	text-align: center;
}

.product-item img {
	width: 200px;
	height: 200px;
	object-fit: cover; /* 枠に合わせてトリミング */
	display: block;
	margin: 0 auto;
	border-radius: 8px; /* 角を少し丸くする（任意） */
}

.product-item a {
	text-decoration: none;
	color: inherit;
}

.product-item p {
	margin: 5px 0;
}
</style>

		<div class="product-list">
			<div class="product-item" th:each="item : ${items}">
				<a th:href="@{/voidrshop/items/{id}(id=${item.id})}"> <img
					th:src="@{/image/{img}(img=${item.thumbsImageName})}"
					onerror="this.onerror=null;this.src='/image/no_image.png';">
				</a>
				<a th:href="@{/voidrshop/items/{id}(id=${item.id})}"><span th:text="${item.name}">商品名</span></a>
				<p th:text="${item.price} + '円'">価格</p>
			</div>
		</div>
	</div>



</body>
</html>

