<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>Weapon introduction（武器紹介）</title>
		<meta name="description" content="FPSゲーム『VOIDR』の公式サイト。 近未来　4v4のチーム戦　キャラクター、マップ、武器、ストーリー等の情報をお届けします。">
		<meta name="keywords" content="FPS,オンラインゲーム,VOIDR,アクション,シューティング">
		<link rel="stylesheet" th:href="@{/css/weapon.css}">
	</head>

	<body>
		<!----- ヘッダー ----->
		<header>ヘッダー</header>
		<nav>ナビ</nav>
		<!----- ヘッダー END ----->
		
		<!----- メインコンテンツ ----->
		<article>
			<h1>Weapon（武器紹介）</h1>
			<div class="weapon-gallery">
				
			<sectionclass="weapon-item">
				<img th:src="@{/image/weapon/OAP-20.png}" alt="バトルライフル">
				<h2>オプティマス・アサルト・プラットフォーム (OAP-20)</h2>
				<h3>バトルライフル（パワーウェポン・タイプ）</h3>
				<h4>中距離～遠距離</h4>
				<p>従来の弾丸を使用しつつ、未来的な強化が施された高性能バトルライフル。</p>
			</sectionclass="weapon-item">
			
			<sectionclass="weapon-item">
				<img th:src="@{/image/weapon/FHBG-01.png}" alt="ショットガン">
				<h2>フレア・ヘビー・バースト・ガン (FHBG-01)</h2>
				<h3>重装式バースト・ショットガン（パワーウェポン・タイプ）</h3>
				<h4>近距離～中距離</h4>
				<p>	散弾のバースト射撃を可能にする重装式ショットガン。</p>
			</sectionclass="weapon-item">
			
			<sectionclass="weapon-item">
				<img th:src="@{/image/weapon/BSR-A1.png}" alt="アサルトライフル">
				<h2>ブルー・ストライク・ライフル (BSR-A1)</h2>
				<h3>アサルトライフル（テックウェポン・タイプ）</h3>
				<h4>中距離～遠距離</h4>
				<p>電磁加速技術（テック）を利用した標準的なアサルトライフル。</p>
			</sectionclass="weapon-item">
				
			<sectionclass="weapon-item">
				<img th:src="@{/image/weapon/SSR-PP.png}" alt="スナイパーライフル">
				<h2>パープル・ペネトレーター (SSR-PP)</h2>
				<h3>テック・スナイパーライフル</h3>
				<h4>遠距離</h4>
				<p>強力な電磁レール技術を利用した長距離スナイパーライフル。</p>
			</sectionclass="weapon-item">
				
			<sectionclass="weapon-item">
				<img th:src="@{/image/weapon/LMG-XD.png}" alt="マシンガン">
				<h2>ゼノン・ディフェンダー (LMG-XD)</h2>
				<h3>ライト・マシンガン (LMG)（パワーウェポン・タイプ）</h3>
				<h4>中距離</h4>
				<p>黄色いエネルギーコアによって駆動される、持続的な制圧射撃に特化したLMG。</p>
			</sectionclass="weapon-item">
			
			<sectionclass="weapon-item">
				<img th:src="@{/image/weapon/SP-07.png}" alt="ピストル">
				<h2>サイレント・ファントム (SP-07)</h2>
				<h3>テック・ピストル（サイバーウェア連携型）</h3>
				<h4>近距離～中距離</h4>
				<p>サイバーウェアとの連携を前提とした高精度テック・ピストル。</p>
			</sectionclass="weapon-item">
			
			</div>		
		</article>
		<!----- メインコンテンツ END ----->
		
		<script src="sample.js"></script>
		
		<!----- フッター ----->
		<footer>フッター</footer>
		<!----- フッター END ----->
	</body>
</html>